 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 305px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  margin: 10px auto 0 54px;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 10px 234px 59px 103px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: -7px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 134px;
    margin-left: 3px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}