
label #sidebar_btn{
 z-index: 1;   
 color: #fff;
 position: fixed;
cursor: pointer;
left: 300px;
font-size: 20px;
margin: 5px 0;
transition: 0.5s ;
transition-property: color;
}
label #sidebar_btn:hover{
    color: #19B303;
}
